#article-body {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
} 

#box1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

#box2 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

#box3 {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
}

#box4 {
    grid-column: 2 / 3;
    grid-row: 5 / 7;
}

#box5 {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}

#title {
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #CBB2F6;
    color:black;
    padding: 10px;
}

.card header {
    text-align: center;
    margin: 10px;
}

.card p {
    margin: 10px;
}

.card footer {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
}

.ourBtn {
    max-height: 40px;
    background-color: #e4771c;
    border: 2px solid #e4771c;
    border-radius: 5px;
    color: #fff;
    padding: 0;
}

.ourBtn:hover {
    background-color: #fff;
    color: #e4771c;
}

.ourBtn:active {
    background-color: #9b3908;
    color: #fff;
}

.postModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top : 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    color: black;
}

#postFooter {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

#postBtn {
    background-color: #e4771c;
    border: 2px solid #e4771c;
    border-radius: 5px;
    color: #fff;
    padding: 0;
    font-size: large;
    font-weight: bold;
    height: 75px;
}

#postBtn:hover {
    background-color: #fff;
    color: #e4771c;
}

#postBtn:active {
    background-color: #9b3908;
    color: #fff;
}

#closePostBtn  {
    float: right;
    font-size: 30px;
    color: black;
}

#closePostBtn:hover, closeBtn:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.ourModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top : 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    color: black;
}

.modalContent {
    background: white;
    margin: 20% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}

.modalHeader h2, .modal-footer h3 {
    margin: 0;
}

.modalHeader {
    background: white;
    padding: 15px;
}

.modalFooter {
    background: #e4771c;
    padding: 10px;
    color: white;
    text-align: center;
}

.closeBtn  {
    float: right;
    font-size: 30px;
    color: black;
}

.closeBtn:hover, closeBtn:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}


.modalBody{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#gifResults {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#gifResults > div {
    padding: 20px;
}
#gifResults > div > button{
    width: 100%;
    height: 200px;
}

#gifSearchQuery {
    width: 30%;
}

#searchGif, #removeGif #clearGifs{
    margin-left: 10px;
}

#formBtnContainer > button > img {
    margin-left: 10px;
}

#titleInput {
    display: block;
    height: 20px;
}

#postInputBox {
    display: block;
}